@use "../../styleSet/theme.scss";

.product_wrapper {
  width: 100%;
}

.header {
  text-align: left;
  margin: 10px 0;

  &__back {
    @include theme.linkWrapper();

    &:hover {
      color: theme.$cambridgeBlue;
    }
  }
}

.body {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .img_sec {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .body {
    flex-direction: column;
  }
  .img_sec {
    padding: 10px;
  }
}

.img_sec {
  min-width: 40%;
  display: flex;
  box-sizing: border-box;
  // border: 10px solid rgb(202, 164, 129);
  border: 10px solid theme.$cinereous;
  border-radius: theme.$borderRadius;
  padding: 30px;
  background-color: theme.$almond;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  align-self: flex-start;
  &__img {
    width: 100%;
  }
}

.content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__text {
    text-align: justify;
  }

  &__name {
    font-size: 30px;
    font-weight: 900;
  }

  &__desc {
  }

  &__painter {
    font-size: 20px;
  }
  &__bottom {
  }
  &__price {
  }
}

.love_btn {
  @include theme.btnWrapper();
  font-weight: 600;
  font-size: 16px;
  &__loved {
    color: theme.$vermilion;
  }
  &__love {
    color: theme.$cambridgeBlue;
    font-style: italic;

    &:hover {
      color: theme.$vermilion;
      font-style: normal;
    }
  }
}
