@use "../../styleSet/theme.scss";

$headerHeight: 50px;

.header {
  max-height: $headerHeight;
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 30px;
}

.left-section {
  display: flex;
  gap: 20px;
}

.link_wrapper {
  @include theme.linkWrapper();
}
.made-by {
  font-size: 10px;
  display: flex;
  align-items: end;
  gap: 2px;
  &__link {
    @include theme.linkWrapper();
    &:hover {
      border-bottom: 1px solid theme.$vermilion;
    }
  }
}

.page_name {
  margin: 0;
}
.brush_icon {
  // max-height: calc($headerHeight * 0.5);
  color: theme.$vermilion;
}
