@use "../../styleSet/theme.scss";

$headerHeight: 50px;

.header {
  max-height: $headerHeight;
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 30px;
}
.link_wrapper {
  @include theme.linkWrapper();
}

.page_name {
  margin: 0;
}
.brush_icon {
  // max-height: calc($headerHeight * 0.5);
  color: theme.$vermilion;
}
